$font-stack:    Helvetica, sans-serif;
$primary-color: midnightblue;
$body-padding: 10px;

body {
  font: 100% $font-stack;
  font-size: 14pt;
  color: $primary-color;
  padding: $body-padding $body-padding $body-padding $body-padding;
}
div {
  padding: 20px 20px 20px 20px;
}
.description{
  color: dodgerblue;
}
.sub-description{
  @extend .description;
  font-size: 16pt;
}
#box{
  background-color: aliceblue;
}
div {
  h2 {
    padding: 2px 2px;
    margin: 1pt;
    background-color: honeydew;
  }
}